@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Book-My-Table</h1>
    </br></br>
    @** <a asp-page="/Customers">Find restaurants nearby</a>*@
    @*<a href="@Url.Action("Index","Customers")">Customers</a>
        <a href="@Url.Action("Index","Bookings")">Bookings</a>*@
    <h3> <a href="@Url.Action("Index","Restaurants")">FIND RESTAURANTS NEARBY</a> </h3>
</div>
